html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: arial;
    text-align: center;
}

.item-div{
    width: 100%;
    height: 69%;
}

.item{
    background: #191c2a;
}

.item-img{
    width: 100%;
    height: 100%;
}

.img-div{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 50%;
    background: url("../images/bottom.png") no-repeat;
    background-size: 124%;
}

h2{
    color: #ffffff;
    position: absolute;
}

.item6 .part2 {
    position: absolute;
    top: 100px;
    left: 19%;
    text-align: center;
    width: 150px;
    height: 100px;
    background-color: rgb(116, 178, 9);
}
.item6 .part1 {
    position: absolute;
    bottom: 100px;
    left: 19%;
    text-align: center;
    width: 250px;
    height: 250px;
    background-color: rgb(116, 178, 9);
}
/*.item6 {
    background-image: url(7634.jpg);
    background-position: center;
}*/

.comment{
    background: #191c2a;
}

.comment-div{
    margin: 0 auto;
    width: 80%;
    height: 31%;
}

.comment-title{
    font-size: 19px;
    color: #ffffff;
}

.comment-option{
    margin-top: 3%;
    width: 90%;
}

.option-A{
    margin-bottom: 2%;
    font-size: 19px;
    height: 37px;
    color: #ffffff;
    background: url("../images/A.png") no-repeat;
    background-size: 100%;
    padding-left: 10%;
}

.option-B{
    margin-bottom: 2%;
    font-size: 19px;
    height: 37px;
    color: #ffffff;
    background: url("../images/B.png") no-repeat;
    background-size: 100%;
    padding-left: 10%;
}

.option-C{
    font-size: 19px;
    height: 37px;
    color: #ffffff;
    background: url("../images/C.png") no-repeat;
    background-size: 100%;
    padding-left: 10%;
}

.origin-div{
    width: 9px;
    padding-top: 24%;
    margin-left: 98%;
    display: none;
}

.collected{
    background: #00d4cc;
    z-index: 999;
    color: #00d4cc;
}

.origin{
    width: 9px;
    height: 9px;
    margin-top: 2px;
    /*background: #ffffff;*/
    background-color: rgba(0,0,0,0.2);
    border-radius: 4.5px;
    display: inline-block;
}

.origin-light{
    background: #ffffff;
}

.H5FullscreenPage .H5FullscreenPage-wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.H5FullscreenPage .item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 700ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
    -webkit-transition: all 700ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
    /*transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;*/
    background-position: center;
}

.start_hide{
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}

.hide{
    -webkit-transform: translate3d(0,100%,0);
    -webkit-animation: hide 0.5s ease-in;
    transform: translate3d(0,100%,0);
    animation: hide 0.5s ease-in;
}
.show{
    -webkit-transform: translate3d(0,0,0);
    -webkit-animation: show 0.5s ease-in;
    transform: translate3d(0,0,0);
    animation: show 0.5s ease-in;
}
.show_big{
    -webkit-transform: scale(1);
    -webkit-animation: show_big 0.5s ease-in;
    transform: scale(1);
    animation: show_big 0.5s ease-in;
}
.hide_small{
    -webkit-transform: scale(0.8);
    -webkit-animation: hide_small 0.5s ease-in;
    transform: scale(0.8);
    animation: hide_small 0.5s ease-in;
}
