body{
    width: 100%;
    height: 100%;
    background: #191c2a;
}

.page1{
    background: url("../images/1.png") no-repeat;
    background-size: 110%;
}

.page2{
    display: none;
}

.page3{
    display: none;
}

.img-div{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 50%;
    background: url("../images/bottom.png") no-repeat;
    background-size: 124%;
}

.main{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.main-ul{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main-ul li{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    overflow: hidden;
}

.comment{
}

.comment-title{
    font-size: 19px;
    color: #ffffff;
}

.comment-option{
    margin-top: 11.5px;
}

.option-A{
    margin-bottom: 9px;
    font-size: 19px;
    height: 37px;
    color: #ffffff;
    background: url("../images/A.png") no-repeat;
    background-size: 100%;
    padding-left: 10%;
}

.option-B{
    margin-bottom: 9px;
    font-size: 19px;
    height: 37px;
    color: #ffffff;
    background: url("../images/B.png") no-repeat;
    background-size: 100%;
    padding-left: 10%;
}

.option-C{
    font-size: 19px;
    height: 37px;
    color: #ffffff;
    background: url("../images/C.png") no-repeat;
    background-size: 100%;
    padding-left: 10%;
}

.origin-div{
    width: 9px;
    padding-top: 24%;
    margin-left: 98%;
    display: none;
}

.origin{
    width: 9px;
    height: 9px;
    margin-top: 2px;
    /*background: #ffffff;*/
    background-color: rgba(0,0,0,0.2);
    border-radius: 4.5px;
    display: inline-block;
}

.origin-light{
    background: #ffffff;
}