html,body{
	height: 100%;
}

.up{
	background-color: RGB(253,222,168);
	height: 60%;
}

.all{
	background-color: RGB(253,222,168);
}

.up-up{
	height: 52%;
}

.up-top{
	height: 23%;
}

.up-top-text{
	padding-top: 6%;
	text-align: center;
	font-size: 19px;
	color: #82331b;
}

.up-main{
	height: 80%;
	text-align: center;
	margin-top: 2%;
}

.up-main-img{
	width: 83%;
	height: 90%;
}

.wrapper{
	text-align: center;
	height: 48%;
}

#want{
	margin-top: 17px;
	background: url("../images/a03.png") no-repeat center;
	background-size: 50%;
	height: 50px;
	display: block;
}

.change-to-receiveMoney{
	margin-top: 14px;
	text-align: center;
	height: 11%;
	display: none;
}

.change-to-hasReceived{
	text-align: center;
	margin-top: 22px;
	display: none;
}

.change-to-notGet{
	text-align: center;
	margin-top: 8%;
	display: none;
}

.change-to-nochance{
	text-align: center;
	margin-top: 8%;
	display: none;
}

.wrapper-img-div{
	width: 17%;
	padding-top: 17%;
	position: relative;
	margin: 0 auto;
}
.wrapper-img-user{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	border: 2px solid #fff;
}

.others-wrapper{
	background: url("../images/a02.png") no-repeat center;
	background-size: 50%;
	left: 10px;
}

.wrapper-text-comment{
	font-size: 21px;
	color: #ec1c3a;
	line-height: 50px;
}

.share-redgift-button{
	height: 50px;
	width: 200px;
	margin: 0 auto;
	line-height: 50px;
	font-size: 21px;
	color: #ec1c3a;
}
.wrapper-img-leftright{
	position: relative;
	top: -86px;
	left: 10px;
	width: 50%;
}
/*iphone6*/
@media all and (max-width:410px){
	.wrapper-img-redgift{
		position: relative;
		top: -97px;
		left: 10px;
		width: 50%;
	}
	.redgift-received-button{
		position: absolute;
		top: 72%;
		left: 50%;
		transform: translate(-50%,-50%);
		font-size: 21px;
		color: #ec1c3a;
	}
}

/*iphone6plus*/
@media (min-width:410px){
	.wrapper-img-redgift{
		position: relative;
		top: -104px;
		left: 10px;
		width: 50%;
	}
	.redgift-received-button{
		position: absolute;
		top: 68.5%;
		left: 50%;
		transform: translate(-50%,-50%);
		font-size: 21px;
		color: #ec1c3a;
	}
}

/*ipone5*/
@media (max-width:320px){
	.wrapper-img-redgift{
		position: relative;
		top: -91px;
		left: 10px;
		width: 50%;
	}
	.redgift-received-button{
		position: absolute;
		top: 79%;
		left: 50%;
		transform: translate(-50%,-50%);
		font-size: 21px;
		color: #ec1c3a;
	}
}

.wrapper-img-button{
	margin-top: 22.5px;
	margin-bottom: -26px;
	width: 50%;
}

.wrapper-text-user{
	padding-top: 3%;
	text-align: center;
	font-size: 17px;
	color: #82331b;
	height: 10%;
}

.down{
	height: 40%;
}

.down-more{
	height: 15%;
	background-color: #ededed;
	width: 100%;
	display: table;
}

.down-more-text{
	color: #9a9a9a;
	display: table-cell;
	vertical-align: middle;
	padding-left: 20px;
}

.down-user{
	height: 26%;
	border-bottom: 1px solid #ededed;
}

.down-user:before{
	content: "";
	height: 102%;
	display: block;
	width: 2%;
	background-color: #fff;
}

.down-user:after{
	content: "";
	height: 102%;
	display: block;
	width: 2%;
	background-color: #fff;
}

.down-user-face{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
}

.down-left{
	width: 14%;
}

.down-left-div{
	width: 71%;
	padding-top: 71%;
	position: relative;
	margin: 0 auto;
}

.down-right{
	width: 80%;
}

.down-right-name{
	color: #000;
	font-size: 11px;
}

.down-right-time{
	margin-left: 10px;
	color: #dbdbdb;
	font-size: 9px;
}

.down-right-comment{
	margin-top: 6px;
	color: #9a9a9a;
	font-size: 11px;
}

.two-code{
	background: #f26202;
}

.code{
	text-align: center;
}

.code-content{
	text-align: center;
}

.code-img{
	margin-top: 100px;
	width: 50%;
}

.code-text{
	margin-top: 21.5px;
	font-size: 22px;
	color: #fff;
}

.code-text-strong{
	font-size: 30px;
}

.footer{
	position: absolute;
	text-align: center;
	bottom: 2px;
}

.footer-img{
	width: 97%;
}

.wrapper-text-redgift{
	padding-top: 11px;
	text-align: center;
	font-size: 17px;
}

.redgift{
	margin-top: -27px;
	text-align: center;
}

.redgift-text{
	margin-top: 25px;
	text-align: center;
}

.redgift-received{
	margin-top: 2px;
	color: #82331b;
	font-size: 17px;
}

.redgift-more{
	color: #82331b;
	font-size: 17px;
}

.more{
	margin-top: px;
}

.share-div{
	margin-top: 17px;
	background: url("../images/a03.png") no-repeat center;
	background-size: 50%;
	height: 50px;
}

.redgift-share{
	margin-top: 12px;
	font-size: 18px;
	font-weight: bold;
	color: red;
}

.self-upSecond{
	margin-top: 7%;
	background: url("../images/a02.png") center no-repeat;
	background-size: 50%;
	left: 10px;
}

.self-up{
	height: 30%;
}

.self-up-main{
	height: 100%;
	text-align: center;
	margin-top: 3%;
}

.self-wrapper{
	text-align: center;
	height: 13%;
}

.self-wrapper-number{
	color: #ec1c3a;
	font-size: 36px;
}

.redgift-img{
	width: 50%;
}

.redgift-img-share{
}

.wrapper-number{
	margin-top: -48px;
	color: #ec1c3a;
	font-size: 36px;
}

.wrapper-unit{
	color: #ec1c3a;
	font-size: 17px;
}

.transparency{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	display: none;
}

.transparency-img{
	margin-right: 30px;
	width: 50%;
	float: right;
}

.header-title {
	margin-top: 3%;
	text-align: center;
}

.header-title > img{
	width: 80%;
}

