#cover{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
}
#require{
    width: 76%;
    height: 20%;
    margin: 0 auto;
    margin-top: 8%;
}
#require > img{
    width: 100%;
    height: 100%;
}
#sample{
    width: 63%;
    height: 47%;
    margin: 0 auto;
    margin-top: 5%;
}
#sample > img{
    width: 100%;
    height: 100%;
}
#upload{
    width: 36%;
    height: 6%;
    margin: 0 auto;
    margin-top: 20%;
    position: relative;
}
#upload > img{
    width: 100%;
    height: 100%;
}
#upload > span{
    font-size: 1.4em;
    display: inline-block;
    position: absolute;
    top: 20%;
    left: 28%;
}